<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>naiveproxy</string>

    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/naive</string>
      <string>/Users/cse/.config/naive/config.json</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/naiveproxy.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/naiveproxyerr.log</string>
  </dict>
</plist>
